# .gitignore
service_account.json
google-analytics\service_account.json
google-analytics/token.pickle
google-analytics/oauth_credentials.json
google-analytics/report.py
google-analytics/report.py
data/website_info.json
google-analytics/report.py
google-analytics/minify.py
